.cartoverlay {
  position: fixed;
  left: 0;
  top: 5.1rem;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  border: 1px solid;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 5rem;
}
.cartoverlay--content {
  width: 20rem;
  background-color: white;
  padding: 0.2rem;
}
.cartoverlay--header,
.cartoverlay--footer {
  padding: 10px;
}
.cartoverlay--title {
  margin: 0;
}
.cartoverlay--body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.cart--totalprice {
  display: flex;
  justify-content: space-between;
}
.cartoverlay--footer{
    display: flex;
}
.cartoverlay--footer button {
  padding: 0.8rem 2rem;
  border-radius: 0;

  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  
}


.footer--actions {
  display: flex;
  justify-content: space-between;
}
.actions--viewbag {
  border: 1px solid #1d1f22;
  background-color: white;
  text-decoration: none;
  color: black;
  padding:0rem 2rem ;
  margin-right: .3rem;
}
.actions--viewbag:hover{
    background-color: #c0c0c0;
    border: none;
}
.actions--checkout{
    border: none;
    background-color: #5ECE7B;
    color: white;
}

.actions--checkout:hover{
    background-color: #2a8b44;
}

.action--close{
    border: none;
    justify-self: center;
    align-self: center;
}