.layout--nav {
  padding: 1rem 0;
  /* border: 1px solid black; */
  flex: 0.5;
}

.layout--navlink {
  text-underline-offset: 2rem;
  display: inline-block;
  text-decoration-thickness: 0.1rem;

  /* margin-right: 1rem; */
  padding: 1rem;

  font-size: 16px;
}
.layout--header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.layout--logo {
  object-fit: contain;
}

.currency--selector {
  border: 0px;
  margin-right:.5rem ;
  background-color: transparent;
}
.currency--selector option{
 background-color: blue;
}

