.product {
  background-color: rgb(255, 255, 255);
  padding: 0.8rem;
  /* border: 1px solid black; */
  /* margin: 0 ; */
}
.product:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: .5rem;
}
.product--img {
  width: 354px;
  height: 330px;
  margin-bottom: 0.7rem;
  object-fit: contain;
  /* border: 1px solid; */
}
.product--name {
  font-size: 18;
  font-weight: 300;

  color: "#1D1F22";
  margin-bottom: 0;
}
.product--price {
  margin-top: 0.4rem;
  font-size: 18;
  font-weight: 400;
}
.product--cart{
  width: auto;
  height: auto;
  position: absolute;
  margin:20rem 0 0 18.4rem;
}